@import "tailwindcss";

/* Scan all legacy + App Router sources for class names */
@source "../**/*.{js,jsx,ts,tsx}";
@source "../app/**/*.{js,jsx,ts,tsx}";
@source "../views/**/*.{js,jsx,ts,tsx}";
@source "../components/**/*.{js,jsx,ts,tsx}";

:root {

}

@theme inline {
  /* =========================== Breakpoints =========================== */
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;


  /* =========================== Animations =========================== */
  --animate-loader-bar: loader-bar-animation 2s ease-in-out infinite;

  @keyframes loader-bar-animation {
    0% {
      transform: translateX(-100%);
    }

    50% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(-100%);
    }
  }
}

#root,
#__next {
  isolation: isolate;
}

html {
  color-scheme: light;
}

* {
  box-sizing: border-box;
  color-scheme: light;
  text-box: trim-both;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) rgba(0, 0, 0, 0.5);
  @apply leading-tight! ring-0! ring-offset-0!;
}

body {
  font-family: 'Nunito', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  text-box: trim-both;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply leading-tight!;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
button {
  font-family: 'Saira', ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

a {
  text-decoration: none;
}
